body {
  background-image: url(/src/img/fondo-coffee2.jpg);
  background-size: cover;
  font-family: sans-serif;
  padding: 20px;
}

/* TITLE AND LOGO */
.logo-top h1 {
  color: #000;
}

.logo-top img {
  display: block;
  padding: auto;
  width: 160px;
  margin: 5px auto 0 auto;
}

/* MENU */

.menu {
  width: 100%;
  background-color: #EFBE7D;
  margin-left: auto;
  margin-right: auto;
  padding: 15px;
  max-width: 420px;
  border-radius: 20px;
  box-shadow: 0 20px 15px  #000;
}

h1,
h2,
p {
  text-align: center;
}

hr {
  height: 5px;
  background-color: #4E2A2A;
  border-color: #4E2A2A;
  border-radius: 30px;
}

.item p {
  display: inline-block;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 18px;
}

.description {
  font-size: 9px;
  text-align: center;
}

.flavor {
  text-align: left;
  width: 74%;
}

.price {
  text-align: right;
  width: 20%;
}

/* FOOTER */

footer {
  font-size: 16px;
}

.adress {
  margin-bottom: 5px;
}

a {
  color: black;
}

a:visited {
  color: black;
}

a:hover {
  color: brown;
}

a:active {
  color: brown;
}

@media (max-width:767px) {

body {
  background-image: url(/src/img/fondo-coffee2.jpg);
  background-size: cover;
  font-family: sans-serif;
  padding: 20px;
}

/* TITLE AND LOGO */
.logo-top h1 {
  color: #000;
}

.logo-top img {
  display: block;
  padding: auto;
  width: 160px;
  margin: 5px auto 0 auto;
}

/* MENU */

.menu {
  width: 100%;
  background-color: #EFBE7D;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  max-width: 420px;
  border-radius: 20px;
  box-shadow: 0 20px 15px  #000;
}

h1,
h2,
p {
  text-align: center;
}

hr {
  height: 5px;
  background-color: #4E2A2A;
  border-color: #4E2A2A;
  border-radius: 30px;
}

.item p {
  display: inline-block;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 18px;
}

.description {
  font-size: 9px;
  text-align: center;
}

.flavor {
  text-align: left;
  width: 74%;
}

.price {
  text-align: right;
  width: 20%;
}

/* FOOTER */

footer {
  font-size: 16px;
}

.adress {
  margin-bottom: 5px;
}

a {
  color: black;
}

a:visited {
  color: black;
}

a:hover {
  color: brown;
}

a:active {
  color: brown;
}
}
