body {
  background-image: url(/src/img/fondo-coffee2.jpg);
  background-size: cover;
  font-family: sans-serif;
  padding: 20px;
}

/* TITLE AND LOGO */
.logo-top h1 {
  text-align: center;
  color: #eacdbc;
}

.logo-top img {
  display: block;
  padding: auto;
  width: 160px;
  margin: 5px auto 0 auto;
  padding-top: 10px;
}

/* MENU */

.menu {
  width: 100%;
  background-color: #ab846e;
  text-align: center;
  justify-content: center;
  margin-left: auto;
  margin-right:auto;
  padding: 15px;
  max-width: 450px;
  border-radius: 20px;
  box-shadow: 0 20px 20px 10px  #000;
}

h1,
h2,
p {
  text-align: center;
  color: #eacdbc;
}

hr {
  height: 10px;
  background-color: #f9eee8;
  border-color: #f9eee8;
  border-radius: 30px;
}

.item p {
  display: inline-block;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 18px;
}

.description {
  font-size: 9px;
  text-align: center;
}

.flavor {
  text-align: left;
  width: 74%;
}

.price {
  text-align: right;
  width: 20%;
}

/* FOOTER */

footer {
  font-size: 16px;
}

.adress {
  margin-bottom: 5px;
}

a {
  color: #eacdbc;
}

a:visited {
  color: #eacdbc;
}

a:hover {
  color: #eacdbc;
}

a:active {
  color: #eacdbc;
}

/* RESPONSIVE */
@media (max-width:590px) {

body {
  background-image: url(/src/img/fondo-coffee2.jpg);
  background-size: cover;
  font-family: sans-serif;
  padding: 20px;
}

/* TITLE AND LOGO */
.logo-top h1 {
  text-align: center;
  color: #eacdbc;
}

.logo-top img {
  display: block;
  padding: auto;
  width: 160px;
  margin: 5px auto 0 auto;
}

/* MENU */

.menu {
  width: 100%;
  background-color: #ab846e;
  text-align: center;
  justify-content: center;
  margin-left: auto;
  margin-right:auto;
  padding: 0px;
  padding-bottom: 2px;
  max-width: 450px;
  border-radius: 20px;
  box-shadow: 0 20px 20px 10px  #000;
}

h1,
h2,
p {
  text-align: center;
  color: #eacdbc;
}

hr {
  height: 10px;
  background-color: #f9eee8;
  border-color: #f9eee8;
  border-radius: 30px;
  margin: 5px;
}

.item p {
  display: inline-block;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 18px;
}

.description {
  font-size: 9px;
  text-align: center;
}

.flavor {
  text-align: left;
  width: 74%;
}

.price {
  text-align: right;
  width: 20%;
}

/* FOOTER */

footer {
  font-size: 16px;
}

.adress {
  margin-bottom: 5px;
}

a {
  color: #eacdbc;
}

a:visited {
  color: #eacdbc;
}

a:hover {
  color: #eacdbc;
}

a:active {
  color: #eacdbc;
}
}